<template name="splash">
  <div id="splash">
    <div class="container">
      <a href="https://help.treehacks.com">
        <img class="logo-image" src="assets/images/logo.svg" alt="treehacks logo">
      </a>
      <div class="header">
        <span class="first-header">{{constant 'Q_NAME_FIRST'}}</span><span class="second-header">{{constant 'Q_NAME_SECOND'}}</span>
      </div>
      <div class="subheader">
        {{constant 'SPLASH_MESSAGE'}}
      </div>
      <br>
      {{> login }}
    </div>
  </div>
</template>
