#home {
  .feed-title {
    font-size: 1.2em;
    margin-bottom: 8px;
  }

  .segment {
    box-shadow: 0 0 15px 0 #e4e4e4;
    border-radius: 8px;
    border: none;
    transition: 0.2s;

    &:hover {
      transform: scale(1.05);
    }
  }
}
