#splash {
  height: 100%;
  width: 100%;

  >.container {
    @include vertical-align();
    button {
      margin: 0 auto;
    }

    .header,
    .subheader {
      text-align: center;
    }

    .subheader {
      font-size: 1.5em;
      margin-bottom: .5em;
    }

    .header {
      @include logo-font();
      font-size: 4em;
      line-height: 1.33;
    }

    #login {
      border: 0;
      background-color: $background-color;
      box-shadow: none;
      width: 400px;
      max-width: 90%;
      margin: 0 auto;
    }

  }

}
